<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <p>
    	<%= link_to restaurant.name, restaurant_path(restaurant) %>
    	<span><%= link_to "Edit", edit_restaurant_path(restaurant) %> - </span>
    	<span><%= link_to "Delete", restaurant_path(restaurant), method: :delete %></span>
    </p>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="/restaurants/new">Add a restaurant</a>
